.Feature-carousel {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  text-decoration: none;
}

.carousel-display-item {
  width: 0;
  transition: 0.5s ease-in-out;
}

.carousel-display-item.active {
  width: 100%;
  transition: 0.5s ease-in-out;
}

.Feature-carousel-title {
  position: absolute;
  z-index: 3;
  left: -100%;
  transition: 0.5s ease-in-out;
  width: 50%;
  height: auto;
  color: rgba(0,0,0,0);
  font-family: 'Arvo', serif;
  /* border-radius: 5px 5px 0 0; */
}

.carousel-display-item.active .Feature-carousel-title {
  /* position: absolute; */
  display: inherit;
  left: 0;
  width: 90%;
  top: 0%;
  height: 50px;
  line-height: 50px;
  margin: 20px 0 0 0;
  padding-left: 10%;
  font-size: 200%;
  text-align: left;
  color: #3A9198;
  text-shadow: 1px 1px #000000;
  /* background: rgba(0, 0, 0, 0.3); */
  transition: 0.5s ease-in-out;
}

.Feature-carousel-image {
  position: relative;
  height: 0;
  z-index: 1;
  max-height: 300px;
  top: calc(50% - 30%);
  left: 20%;
  top: 75px;
  border-radius: 10px;
}

.carousel-display-item.active .Feature-carousel-image {
  height: auto;
}

.carousel-btn {
  position: absolute;
  background-color: white;
  background: rgba(0, 0, 0, 0.4);
  height: 100%;
  top: 0;
  overflow: hidden;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

.carousel-icon {
  position: relative;
  font-size: 0%;
  color: #ffffff;
  top: 50%;
  margin-top: -25%;
  transition: 0.3s ease-in-out;
}

.carousel-btn.active {
  z-index: 100;
  width: 75px;
}

.carousel-btn.active .carousel-icon {
  font-size: 350%;
  transition: 0.3s ease-in-out;
}

.feature-link-btn.active .carousel-icon {
  font-size: 150%;
  top: 0;
  margin-top: 0;
  color: #349199;
  transition: 0.3s ease-in-out;
}

.carousel-btn.inactive {
  width: 0;
}

.prev {
  left: 0;
}

.next {
  right: 0;
}

.feature-link-btn {
  position: absolute;
  z-index: 5;
  top: 300px;
  left: calc(50% - 25px);
  height: 0;
  width: 0;
  transition: 0.5s ease-in-out;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* border-radius: 10px; */
  border-radius: 50%;
  cursor: pointer;
  text-decoration: none;
}

.feature-link-btn.active {
  display: inherit;
  transition: ease-in-out;
  height: 50px;
  width: 50px;
}

.Feature-carousel-description {
  position: absolute;
  z-index: 3;
  left: -100%;
  transition: 0.5s ease-in-out;
  color: rgba(0,0,0,0);
  bottom: 0;
  height: 250px;
  /* border-radius: 0 0 5px 5px; */
}

.carousel-display-item.active .Feature-carousel-description {
  display: inherit;
  left: 0;
  width: 35%;
  font-size: 150%;
  text-align: left;
  padding: 20px 10%;
  margin: 0;
  color: #383838;
  text-shadow: 1px 1px #ffffff;
  /* background: rgba(0, 0, 0, 0.3); */
  transition: 0.5s ease-in-out;
}
